.venv/
__pycache__/
**/__pycache__/
*.pyc
.DS_Store
**/.DS_Store
.env
.env.*
!.env.example
.env.secret
data/dataset.csv
data/dataset_full*.csv
data/backup/*
venv
.claude/*
.vscode/*
agent/
dishify.db
.pytest_cache/