.venv/
__pycache__/
**/__pycache__/
*.pyc
.DS_Store
**/.DS_Store
.env
.env.*
!.env.example
.env.secret
data/dataset.csv
data/dataset_full*.csv
data/.recipes_full_index_checkpoint.json
data/backup/*
data/qdrant_volume.tar.gz
venv
.claude/*
.vscode/*
agent/
dishify.db
.pytest_cache/
node_modules/
frontend/dist/
openssh.pri
openssh.pub
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl